@charset "utf-8";
/* CSS Document */

.izq_sup_g{
float:left;
position:relative;
width:13px;
height:48px;
background: url(../img/izq_sup_g.jpg); 
}
.izq_inf_g{
float:left;
position:relative;
margin-left:-13px;
width:13px;
height:36px;
background:url(../img/izq_inf_g.jpg);
}


.izq_lat_g{
float:left;
margin-bottom:18px;
height:500px;
width:13px;
background:url(../img/lat_izq_g.jpg);
}



.der_sup_g{
margin-left:905px;
position:relative;
width:12px;
height:48px;
background:url(../img/der_sup_g.jpg);
}

.der_lat_g{
position:relative;
margin-top:0px;
margin-left:905px;
width:12px;
height:500px;
background:url(../img/lat_der_g.jpg);
}

.der_inf_g{
position:relative;
margin-left:905px;
height:36px;
width:12px;
background:url(../img/der_inf_g.jpg);
}

.cen_sup_g{
position:relative;
float:left;
width:903px;
height:48px;
background: url(../img/cen_sup_g.jpg);
}

.cen_inf_g{
position:relative;
float:left;
height:36px;
width:903px;
background:url(../img/cen_inf_g.jpg);
}


.contenido_g{
float:left;
width:903px;
}


/************************************************PEQUEÑO**********************/
.izq_sup_p{
float:left;
position:relative;
width:10px;
height:14px;
background: url(../img/izq_sup_p.jpg); 
}
.izq_inf_p{
float:left;
position:relative;
margin-left:-10px;
width:10px;
height:23px;
background:url(../img/izq_inf_p.jpg);
}


.izq_lat_p{
float:left;
margin-bottom:18px;
height:100px;
width:10px;
background:url(../img/lat_izq_p.jpg);
}



.der_sup_p{
margin-left:300px;
position:relative;
width:12px;
height:14px;
background:url(../img/der_sup_p.jpg);
}

.der_lat_p{
position:relative;
margin-top:0px;
margin-left:300px;
width:12px;
height:100px;
background:url(../img/lat_der_p.jpg);
}

.der_inf_p{
position:relative;
margin-left:300px;
height:23px;
width:12px;
background:url(../img/der_inf_p.jpg);
}

.cen_sup_p{
position:relative;
float:left;
width:290px;
height:14px;
background: url(../img/cen_sup_p.jpg);
}

.cen_inf_p{
position:relative;
float:left;
height:23px;
width:290px;
background:url(../img/cen_inf_p.jpg);
}


.contenido_p{
float:left;
width:903px;
}


